<div class="d3-target">
</div>

<div>
</div>

<script>
  // d3.selectAll(".d3-target").text("This is the target")
</script>

<canvas id='daychart' width='400' height='400'></canvas>
<div id='chartist-target'></div>

<%= react_component("HeartbeatGraph") %>
