<div class="d3-target">
</div>

<div>
  <svg width='50' height='50'>
    <circle cx='25' cy='25' r='25' fill='purple'>
  </svg>
</div>

<script>
  d3.selectAll(".d3-target").text("This is the target")
</script>

<%= react_component("HeartbeatGraph") %>
