<p id="notice"><%= notice %></p>

<% if active_project = Project.active_project %>
  <div class='stop-clock'>
    <%= link_to "Stop the clock", stop_clock_path(id: active_project.id), class: "toggle-clock" %>
  </div>
<% end %>

<table>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
